<html>
    <div class = "card-body">
        <h2 class = "card-subtitle">About Us</h2>

        <div class="container">
            <p class = "card-text"> Test  
            </p>
        </div>
    </div>

    
    <div class="card-footer"> 
        <h6 class = "card-subtitle" style="font-size:larger">Developed By:</h6>
        <h6 class = "card-subtitle" style="font-size:larger"> Abhijit Roy</h6>
        <a href="https://www.linkedin.com/in/abhijit-roy-57a7b1169/">Connect</a>
    </div>
</html>